/*
 * layout.css
 * header/footer 모든 페이지의 공통 스타일 적용
*/
header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    color: #fff;
    display: flex;
    font-family: 'SUIT';
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
header .logo a {
    display: block;
    width: 161px;
    height: 24px;
    font-size: 0;
    line-height: 0;
    position: relative; /* before 정렬의 기준 */
}
header .logo a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}
@media screen and (min-width:1281px){ /* 1281x 이상일때만 적용 */
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 165px;
        text-align: center;
        position: relative; /* depth2 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li a {
        display: block;
        font-weight: 400;
        font-size: 22px;
        line-height: 100px;
    }
    header .gnb .gnb_wrap ul.depth1 > li a:hover {
        color: #1D6EB0;
    }
    header .global {
        position: relative;
    }
    header .global button {
        font-size: 15px;
        padding: 8px  41px 8px 31px;
        border: 1px solid #fff;
        border-radius: 20px;
        position: relative;
    }
    header .global button::before {
        content: "";
        position: absolute;
        left: 9px;
        top: 9px;
        width: 19px;
        height: 19px;
        background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.50033 17.0208C8.46918 17.0208 7.49609 16.8232 6.58105 16.4279C5.66602 16.0326 4.86802 15.4944 4.18705 14.8133C3.50596 14.1323 2.96776 13.3343 2.57245 12.4193C2.17715 11.5042 1.97949 10.5311 1.97949 9.49999C1.97949 8.46066 2.17715 7.48553 2.57245 6.57458C2.96776 5.66364 3.50596 4.86768 4.18705 4.18672C4.86802 3.50562 5.66602 2.96742 6.58105 2.57212C7.49609 2.17681 8.46918 1.97916 9.50033 1.97916C10.5397 1.97916 11.5148 2.17681 12.4257 2.57212C13.3367 2.96742 14.1326 3.50562 14.8136 4.18672C15.4947 4.86768 16.0329 5.66364 16.4282 6.57458C16.8235 7.48553 17.0212 8.46066 17.0212 9.49999C17.0212 10.5311 16.8235 11.5042 16.4282 12.4193C16.0329 13.3343 15.4947 14.1323 14.8136 14.8133C14.1326 15.4944 13.3367 16.0326 12.4257 16.4279C11.5148 16.8232 10.5397 17.0208 9.50033 17.0208ZM9.50033 15.8165C9.90434 15.2807 10.2444 14.7402 10.5204 14.1952C10.7964 13.6501 11.0212 13.0543 11.1949 12.4078H7.80576C7.98956 13.0746 8.21697 13.6806 8.48798 14.2256C8.75886 14.7707 9.09631 15.301 9.50033 15.8165ZM7.96726 15.5988C7.66379 15.1634 7.39126 14.6684 7.14967 14.1138C6.90808 13.5591 6.72032 12.9904 6.5864 12.4078H3.90087C4.319 13.2299 4.87976 13.9207 5.58316 14.48C6.28655 15.0391 7.08126 15.4121 7.96726 15.5988ZM11.0334 15.5988C11.9194 15.4121 12.7141 15.0391 13.4175 14.48C14.1209 13.9207 14.6817 13.2299 15.0998 12.4078H12.4143C12.2549 12.9955 12.0544 13.5666 11.8128 14.1213C11.5713 14.676 11.3115 15.1685 11.0334 15.5988ZM3.40291 11.2203H6.34593C6.29619 10.926 6.2601 10.6375 6.23767 10.3548C6.21537 10.0722 6.20422 9.78723 6.20422 9.49999C6.20422 9.21275 6.21537 8.92781 6.23767 8.64519C6.2601 8.36243 6.29619 8.07393 6.34593 7.7797H3.40291C3.32678 8.0486 3.26846 8.32819 3.22795 8.61847C3.18731 8.90875 3.16699 9.20259 3.16699 9.49999C3.16699 9.79739 3.18731 10.0912 3.22795 10.3815C3.26846 10.6718 3.32678 10.9514 3.40291 11.2203ZM7.53323 11.2203H11.4674C11.517 10.926 11.5531 10.6401 11.5755 10.3625C11.5978 10.0849 11.6089 9.79739 11.6089 9.49999C11.6089 9.20259 11.5978 8.91508 11.5755 8.63747C11.5531 8.35986 11.517 8.07393 11.4674 7.7797H7.53323C7.48362 8.07393 7.4476 8.35986 7.42517 8.63747C7.40287 8.91508 7.39172 9.20259 7.39172 9.49999C7.39172 9.79739 7.40287 10.0849 7.42517 10.3625C7.4476 10.6401 7.48362 10.926 7.53323 11.2203ZM12.6547 11.2203H15.5977C15.6739 10.9514 15.7322 10.6718 15.7727 10.3815C15.8133 10.0912 15.8337 9.79739 15.8337 9.49999C15.8337 9.20259 15.8133 8.90875 15.7727 8.61847C15.7322 8.32819 15.6739 8.0486 15.5977 7.7797H12.6547C12.7045 8.07393 12.7406 8.36243 12.763 8.64519C12.7853 8.92781 12.7964 9.21275 12.7964 9.49999C12.7964 9.78723 12.7853 10.0722 12.763 10.3548C12.7406 10.6375 12.7045 10.926 12.6547 11.2203ZM12.4143 6.5922H15.0998C14.6766 5.75989 14.1197 5.06916 13.429 4.52001C12.7382 3.97099 11.9397 3.59548 11.0334 3.39347C11.3369 3.85422 11.6068 4.35818 11.8433 4.90535C12.0798 5.4524 12.2702 6.01468 12.4143 6.5922ZM7.80576 6.5922H11.1949C11.0111 5.93037 10.7799 5.32058 10.5014 4.76285C10.2227 4.20513 9.88903 3.67867 9.50033 3.18348C9.11162 3.67867 8.77793 4.20513 8.49926 4.76285C8.22073 5.32058 7.98956 5.93037 7.80576 6.5922ZM3.90087 6.5922H6.5864C6.73048 6.01468 6.92081 5.4524 7.15739 4.90535C7.39383 4.35818 7.66379 3.85422 7.96726 3.39347C7.05579 3.59548 6.25601 3.97231 5.56792 4.52397C4.8797 5.0755 4.32401 5.76491 3.90087 6.5922Z' fill='white'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    header .global button::after {
        content: "";
        position: absolute;
        right: 13px;
        top: 9px;
        width: 17px;
        height: 17px;
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.49999 9.59525L11.385 6.71003C11.4831 6.61204 11.6064 6.56187 11.755 6.55951C11.9034 6.55727 12.0289 6.60744 12.1316 6.71003C12.2342 6.81274 12.2855 6.93717 12.2855 7.08332C12.2855 7.22948 12.2342 7.35391 12.1316 7.45661L8.94819 10.64C8.88184 10.7063 8.81189 10.753 8.73835 10.7803C8.6648 10.8076 8.58535 10.8212 8.49999 10.8212C8.41464 10.8212 8.33519 10.8076 8.26164 10.7803C8.18809 10.753 8.11814 10.7063 8.05179 10.64L4.86837 7.45661C4.77038 7.35851 4.72021 7.2352 4.71785 7.08669C4.7156 6.93829 4.76578 6.81274 4.86837 6.71003C4.97107 6.60744 5.09551 6.55615 5.24166 6.55615C5.38781 6.55615 5.51224 6.60744 5.61495 6.71003L8.49999 9.59525Z' fill='white'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    header .global .list {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        color: #1d1d1d;
        text-align: center;
        padding: 17px 0;
        display: none; /* 숨김 */
    }
    .gnb .gnb_open  {
        display: none; /*숨김*/
    }
    .gnb .gnb_close {
        display: none; /*숨김*/
    }
}/*@media*/
@media screen and (max-width:1280px){ /* 1280px부터 적용 */
    header {
        padding-right: 0px;
    }
    .gnb .gnb_wrap {    
        display: none; /*숨김*/
    }
    .gnb .gnb_close {
        display: none; /*숨김*/
    }
    .global {
        display: none; /*숨김*/
    }
    .gnb .gnb_open {
        position: relative;
        width: 100px;
        height: 100px;
        font-size: 0;
        line-height: 0;
    }
    .gnb .gnb_open::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.19824 25.717C5.88835 25.717 5.62864 25.6121 5.41913 25.4023C5.20937 25.1928 5.10449 24.933 5.10449 24.6229C5.10449 24.313 5.20937 24.0533 5.41913 23.8437C5.62864 23.6345 5.88835 23.5298 6.19824 23.5298H28.8024C29.1123 23.5298 29.372 23.6346 29.5815 23.8441C29.7913 24.0539 29.8962 24.3138 29.8962 24.624C29.8962 24.9339 29.7913 25.1936 29.5815 25.4031C29.372 25.6123 29.1123 25.717 28.8024 25.717H6.19824ZM6.19824 18.5937C5.88835 18.5937 5.62864 18.4889 5.41913 18.2791C5.20937 18.0694 5.10449 17.8095 5.10449 17.4996C5.10449 17.1895 5.20937 16.9298 5.41913 16.7205C5.62864 16.511 5.88835 16.4062 6.19824 16.4062H28.8024C29.1123 16.4062 29.372 16.5111 29.5815 16.7209C29.7913 16.9306 29.8962 17.1905 29.8962 17.5004C29.8962 17.8105 29.7913 18.0702 29.5815 18.2795C29.372 18.489 29.1123 18.5937 28.8024 18.5937H6.19824ZM6.19824 11.4702C5.88835 11.4702 5.62864 11.3654 5.41913 11.1559C5.20937 10.9461 5.10449 10.6862 5.10449 10.376C5.10449 10.0661 5.20937 9.80644 5.41913 9.59693C5.62864 9.38765 5.88835 9.28302 6.19824 9.28302H28.8024C29.1123 9.28302 29.372 9.3879 29.5815 9.59766C29.7913 9.80717 29.8962 10.067 29.8962 10.3771C29.8962 10.687 29.7913 10.9467 29.5815 11.1562C29.372 11.3655 29.1123 11.4702 28.8024 11.4702H6.19824Z' fill='white'/%3E%3C/svg%3E%0A");
    }
}/*@media*/
@media screen and (max-width:767px){ /* 767px부터 적용 */
    header {
        height: 50px;
    }
    .gnb .gnb_open {
        width: 50px;
        height: 50px;
    }
    .gnb .gnb_open::before{
        background-size: 30px;
        right: 5px;
    }
    header .logo a::before {
       width: 95px;
    }
}/*@media*/

footer {
    padding: 65px 0 30px 0;
    color: #555555;
}
footer h2 {
    display: none;
}
footer .wrapper {
    display: flex;
    justify-content: space-between;
}
footer .f_cont .f_info {
    display: flex;
    align-items: flex-start; /*정렬*/
    gap: 127px;
    padding: 38px 0 0 0;
}
footer .f_cont .f_logo img {
    width: 160px;
}
footer .f_cont .f_info strong {
    position: relative;
    padding-right: 15px;
}
footer .f_cont .f_info strong::after {
    content: "";
    position: absolute;
    right: 4px;
    top: 5px;
    width: 1px;
    height: 11px;
    background-color: #ccc;
}
footer .f_cont .copyright {
    padding: 26px 0 0 0;
    color: #8E8E8E;
    font-size: 12px;
}
footer .f_site {
    display: flex;
    align-items: flex-start; /*정렬*/
    gap: 10px;
    font-size: 15px;
}
footer .f_site .family, 
footer .f_site .brand {
    position: relative;
}
footer .f_site .family button,
footer .f_site .brand button {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 11px 65px 11px 20px;
    position: relative;
}
footer .f_site .family button::after,
footer .f_site .brand button::after {
    content: "";
    position: absolute; /* button을 기준으로 정렬 */
    width: 10px;
    height: 20px;
    top: 12px;
    right: 14px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.00415 1.98661L1.93115 6.05986C1.79265 6.19819 1.61856 6.26903 1.4089 6.27236C1.1994 6.27553 1.02215 6.20469 0.877148 6.05986C0.732314 5.91486 0.659897 5.73919 0.659897 5.53286C0.659897 5.32653 0.732314 5.15086 0.877148 5.00586L5.3714 0.511609C5.46506 0.418109 5.56381 0.352109 5.66765 0.313609C5.77148 0.275109 5.88365 0.255859 6.00415 0.255859C6.12465 0.255859 6.23681 0.275109 6.34065 0.313609C6.44448 0.352109 6.54323 0.418109 6.6369 0.511609L11.1311 5.00586C11.2695 5.14436 11.3403 5.31844 11.3436 5.52811C11.3468 5.73761 11.276 5.91486 11.1311 6.05986C10.9861 6.20469 10.8105 6.27711 10.6041 6.27711C10.3978 6.27711 10.2221 6.20469 10.0771 6.05986L6.00415 1.98661Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}
footer .f_site .family button.site_close,
footer .f_site .brand button.site_close {
    display: none;
}
footer .f_site .family button.site_close::after,
footer .f_site .brand button.site_close::after {
    transform: rotate(180deg);
}
footer .f_site .family .list, 
footer .f_site .brand .list {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 46px;
    border: 1px solid #ccc;
    padding: 15px 20px;
    border-radius: 5px;
    background: #fff;
    margin-top: 1px;
    line-height: 1.4;
}
footer .f_site .family.open button.site_open,
footer .f_site .brand.open button.site_open {
    display: none;
}
footer .f_site .family.open button.site_close,
footer .f_site .brand.open button.site_close {
    display: block;
}
footer .f_site .family.open .list, 
footer .f_site .brand.open .list {
    display: block;
}
@media screen and (max-width:890px){ /* 890px부터 적용 */
    footer {
        padding: 50px 0 30px 0;
    }
    footer .wrapper {
        display: block;
    }
    footer .f_cont .f_info {
        display: block;
        padding: 20px 0 0 0;
    }
    footer .f_cont .copyright {
        padding: 10px 0 0 0; 
    }
    footer .f_site {
        display: block;
        padding: 25px 0 0 0;
    }
    footer .f_site .family button, 
    footer .f_site .brand button {
        width: 100%;
        margin: 10px 0 0 0;
        padding: 7px 20px;
        text-align: left;
    }
    footer .f_site .family button::after, 
    footer .f_site .brand button::after {
        top: 8px
    }
    
}/*@media*/
